In [1]:
x <- read.csv("reservation_r_csv.csv")

In [2]:
head(x)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [5]:
install.packages("readxl")

library(readxl)

Installing package into 'C:/Users/samsung/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\samsung\AppData\Local\Temp\Rtmp8qkNMt\downloaded_packages

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [6]:
y <- read_excel("reservation_r_excel.xlsx")

head(x)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [8]:
write.csv(x,"csv_output.csv")

In [9]:
install.packages("writexl")  # 패키지 설치

library(writexl)    # 패키지 로딩

Installing package into 'C:/Users/samsung/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'writexl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\samsung\AppData\Local\Temp\Rtmp8qkNMt\downloaded_packages

Warning message:
"package 'writexl' was built under R version 3.6.3"

In [10]:
write_xlsx(y,"excel_output.xlsx")  # 엑셀 파일로 내보냄

In [14]:
sink("output.txt")   # 출력을 output.txt에 기록 시작
# sink() 함수는 편집 창이나 콘솔 창에서 실행한 R 코드의 결과를 
# 콘솔 창에 출력하는 대신 외부 파일로 출력
x <- 1
y <- 2
x
y
x + y # 실행 결과를 output.txt에 기록
sink()    # 기록 마침

[1] 1

[1] 2

[1] 3

In [16]:
x <- c(1,2,3)
y <- c(4,5,6)
save(x,y,file="save.Rdata")  # save.Rdata 파일에 x와 y 변수 내용 저장

In [17]:
rm(list=ls())   # 메모리의 변수를 모두 삭제

In [18]:
load("save.Rdata")     # save.Rdata 내용을 불러옴

In [19]:
x

[1] 1 2 3

In [20]:
x <- c(1,2,3)
y <- c(4,5,6)
z <- c(7,8,9)
save(list=ls(),file="save2.Rdata")    # 현재 변수들을 저장

In [27]:
connect <- file("result.txt", "w")     # 파일 설정

In [28]:
x <- iris$Sepal.Length

In [29]:
cat(summary(x), file=connect)    # summary 함수의 결과를 파일에 기록
close(connect)       # 파일 종료

In [30]:
x <- read.csv("reservation_r_csv.csv")

In [33]:
head(x) #  데이터셋 앞부분 출력 head(x, 출력행 개수)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [34]:
tail(x) # 데이터셋 뒷부분 출력 tail(x, 출력행 개수)

    RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
391 2019092001 20190920    1200        W345397     송파   1           N
392 2019091901 20190919    1800        W1328505    강남   5           N
393 2019091801 20190918    1200        W345397     송파   1           N
394 2019091702 20190917    1200        W343277     성북   5           N
395 2019091701 20190917    1800        W1337923    강남   7           N
396 2019091601 20190916    1200        W1348303    영등포 2           N

In [35]:
str(x) # 데이터셋 구조 출력 str(x)

'data.frame':	396 obs. of  7 variables:
 $ RESERV_NO  : int  2019082701 2019082602 2019082601 2019082501 2019082401 2019082301 2019082202 2019082201 2019082101 2019081901 ...
 $ RESERV_DATE: int  20190827 20190826 20190826 20190825 20190824 20190823 20190822 20190822 20190821 20190819 ...
 $ RESERV_TIME: int  1800 1200 1800 1800 1200 1800 1800 1200 1800 1200 ...
 $ CUSTOMER_ID: Factor w/ 182 levels "W1327595","W1327803",..: 51 137 7 49 66 65 25 20 39 141 ...
 $ BRANCH     : Factor w/ 25 levels "강남","강동",..: 13 12 3 21 2 20 4 15 4 19 ...
 $ VISITOR_CNT: int  2 5 4 2 3 2 2 3 6 5 ...
 $ CANCEL     : Factor w/ 2 levels "N","Y": 1 1 1 1 1 1 1 2 1 1 ...

In [36]:
summary(x) # 요약 통계량 출력

   RESERV_NO          RESERV_DATE        RESERV_TIME     CUSTOMER_ID
 Min.   :2.019e+09   Min.   :20190603   Min.   :1200   W1338910:  9
 1st Qu.:2.019e+09   1st Qu.:20190912   1st Qu.:1200   W341634 :  9
 Median :2.019e+09   Median :20191113   Median :1800   W1337923:  8
 Mean   :2.019e+09   Mean   :20191043   Mean   :1553   W1342347:  8
 3rd Qu.:2.019e+09   3rd Qu.:20191213   3rd Qu.:1800   W1336410:  7
 Max.   :2.019e+09   Max.   :20191231   Max.   :1800   W1340914:  7
                                                       (Other) :348
     BRANCH     VISITOR_CNT     CANCEL
 강남   : 49   Min.   : 1.000   N:337
 강서   : 22   1st Qu.: 2.000   Y: 59
 마포   : 22   Median : 3.000
 서초   : 22   Mean   : 3.641
 동작   : 21   3rd Qu.: 4.000
 동대문 : 20   Max.   :23.000
 (Other):240

In [37]:
View(x) # 소스 창으로 데이터와 구조 확인 ->View에서 V만 대문자

ERROR: Error in View(x): 'View()' not yet supported in the Jupyter R kernel

In [38]:
dim(x) # 열과 행, 차원의 개수를 셈

[1] 396   7

In [39]:
library(help=datasets)   #  R에 어떤 기본 데이터셋들이 있는지 확인

In [40]:
head(iris)    # 데이터셋의 앞부분을 출력

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [41]:
head(iris,10)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [42]:
tail(iris)   # 데이터셋의 뒷부분을 출력

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [43]:
tail(iris,10)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [44]:
summary(iris)    # iris 모든 열의 요약 통계량을 출력

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [45]:
summary(iris$Sepal.Length)
# 최솟값은 4.300, 1사분위수는 5.100, 중앙값은 5.800, 평균은 5.843, 
# 3사분위수는 6.400, 최댓값은 7.900인 것을 알 수 있습니다

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [46]:
str(iris)  # 데이터 구조 보기
#  데이터 프레임 구조로 관측치(행) 150개와 변수(열) 다섯 개로 구성됩니다.
#  열 이름. num은 numeric인 숫자형을 의미, 옆에 숫자들은 데이터 값들을 나타냄

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [48]:
dim(iris)   # 차원을 셈, iris는 150행 5열

[1] 150   5

In [49]:
ncol(iris)     # 열 개수를 셈

[1] 5

In [50]:
nrow(iris)   # 행 개수를 셈

[1] 150

In [51]:
length(iris)    # iris 열의 길이를 셈

[1] 5

In [52]:
ls() #  변수 목록 확인

[1] "connect" "x"       "y"       "z"

In [53]:
rm(list=ls())

In [54]:
x <- c(1,2,3,4,5) # 벡터
object.size(x)     # 변수 크기를 확인

96 bytes

In [55]:
x <- c(1,2,3,4,5,6,7,8,NA,10)
x

 [1]  1  2  3  4  5  6  7  8 NA 10

In [57]:
is.na(x)     # 개별 데이터가 NA인지 확인

is.null(x)     # 데이터셋이 null인지 확인

is.numeric(x)     # 데이터셋이 숫자형인지 확인

is.character(x)    # 데이터셋이 문자형인지 확인

is.logical(x)     # 데이터셋이 논리형인지 확인

is.factor(x)       # 데이터셋이 팩터 구조인지 확인

is.data.frame(x)    # 데이터셋이 데이터 프레임 구조인지 확인

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] FALSE

[1] FALSE

In [58]:
is.factor(iris)

[1] FALSE

In [59]:
is.data.frame(iris)

[1] TRUE

In [61]:
is.logical(iris)

[1] FALSE

In [62]:
is.numeric(iris)

[1] FALSE

In [63]:
is.numeric(iris$Sepal.Length)

[1] TRUE

In [65]:
is.numeric(iris$Speices)

[1] FALSE

In [66]:
str(Orange)

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [67]:
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [68]:
head(Orange,2)

  Tree age circumference
1 1    118 30
2 1    484 58

In [69]:
tail(Orange)

   Tree age  circumference
30 5     484  49
31 5     664  81
32 5    1004 125
33 5    1231 142
34 5    1372 174
35 5    1582 177

In [71]:
summary(Orange)

 Tree       age         circumference
 3:7   Min.   : 118.0   Min.   : 30.0
 1:7   1st Qu.: 484.0   1st Qu.: 65.5
 5:7   Median :1004.0   Median :115.0
 2:7   Mean   : 922.1   Mean   :115.9
 4:7   3rd Qu.:1372.0   3rd Qu.:161.5
       Max.   :1582.0   Max.   :214.0

In [76]:
summary(Orange$circumference)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   30.0    65.5   115.0   115.9   161.5   214.0

In [77]:
str(Orange)   # 데이터 구조 보기

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [78]:
dim(Orange) # 차원을 셈, orange는 35행 3열

[1] 35  3

In [79]:
nrow(Orange)   # 행 개수를 셈

[1] 35

In [80]:
ncol(Orange) # 열 개수를 셈

[1] 3

In [81]:
length(Orange)     # Orange 열의 길이를 셈

[1] 3

In [83]:
is.na(Orange)     # 개별 데이터가 NA인지 확인

is.null(Orange)     # 데이터셋이 null인지 확인

is.numeric(Orange)     # 데이터셋이 숫자형인지 확인

is.character(Orange)    # 데이터셋이 문자형인지 확인

is.logical(Orange)     # 데이터셋이 논리형인지 확인

is.factor(Orange)       # 데이터셋이 팩터 구조인지 확인

is.data.frame(Orange)    # 데이터셋이 데이터 프레임 구조인지 확인

   Tree  age   circumference
1  FALSE FALSE FALSE
2  FALSE FALSE FALSE
3  FALSE FALSE FALSE
4  FALSE FALSE FALSE
5  FALSE FALSE FALSE
6  FALSE FALSE FALSE
7  FALSE FALSE FALSE
8  FALSE FALSE FALSE
9  FALSE FALSE FALSE
10 FALSE FALSE FALSE
11 FALSE FALSE FALSE
12 FALSE FALSE FALSE
13 FALSE FALSE FALSE
14 FALSE FALSE FALSE
15 FALSE FALSE FALSE
16 FALSE FALSE FALSE
17 FALSE FALSE FALSE
18 FALSE FALSE FALSE
19 FALSE FALSE FALSE
20 FALSE FALSE FALSE
21 FALSE FALSE FALSE
22 FALSE FALSE FALSE
23 FALSE FALSE FALSE
24 FALSE FALSE FALSE
25 FALSE FALSE FALSE
26 FALSE FALSE FALSE
27 FALSE FALSE FALSE
28 FALSE FALSE FALSE
29 FALSE FALSE FALSE
30 FALSE FALSE FALSE
31 FALSE FALSE FALSE
32 FALSE FALSE FALSE
33 FALSE FALSE FALSE
34 FALSE FALSE FALSE
35 FALSE FALSE FALSE

[1] FALSE

[1] FALSE

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

In [84]:
object.size(Orange)  # 변수 크기를 확인

5232 bytes

In [86]:
ls(Orange) #  변수 목록 확인

[1] "age"           "circumference" "Tree"